h2 {
    color: darkblue;
}
body {
    border: 3px ;
    padding: 10px;
    margin-bottom: 20px;
    height: 500px;
    background-color: lavender;
}

.header1 {
    text-align: center;
}

#img1 {
    position: absolute;
     margin: auto;
      top: 0;
      left: 0;
     right: 0;
     bottom: 0;
     
}
h1 {
    color:indigo 
}