h2 {
    color:midnightblue

  }

  h1 {
      color:black
  }
  body {
    border: 3px ;
    padding: 20px;
    margin-bottom: 20px;
    height: 100px;
    background-color:lightsteelblue
    
  }

  #picture2 {
      position: absolute;
     margin: auto;
      top: 0;
      left: 0;
     right: 0;
     bottom: 0;
  }

  #header1 {
      text-align: center
  }

  .main-text {
      text-align: center;
  }
